<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		
 
		  <add name="DefaultBaseConnection" connectionString="data source=DESKTOP-5GDQD44\MSSQL;initial catalog=DefaultBaseConnection;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	
			<!-- MySql = 0, SqlServer = 1, !-->
		  <add name="DataType" connectionString="1"  />
		  	<!-- @TableName 替换字符串  !-->
		  <add name="ReplaceString" connectionString="@TableName"  />
		  
	</connectionStrings>
</configuration>
